{% extends "default.html.twig" %}
{% block content %}

    <h1>{{ 'Nie znaleziono strony'|trans }}</h1>
    
    <div class="content">
        <p>{{ 'Niestety szukana przez Ciebie strona nie istnieje. Wróć do strony głównej.'|trans }}</p>
    </div>    
    
{% endblock %}
