{% extends "default.html.twig" %}
{% block content %}

    <h1>{{ 'Wystąpił nieoczekiwany błąd'|trans }}</h1>
    
    <div class="content">
        <p>{{ 'Niestety strona na której jesteś nie działa prawidłowo. Wróć do strony głównej.'|trans }}</p>
    </div>    
    
{% endblock %}
