<!DOCTYPE html>
<html style="">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>    


    <body style="padding:40px 0px;     
    background: url({{ app.request.getSchemeAndHttpHost() }}/images/pattern_light_small.jpg) repeat;
    background-position: 0 -10px; background-color:#ddd; text-align:center; background-repeat: repeat;
    {#background-attachment: fixed;#} ">
        
            
            
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="center">
                      <table border="0" cellspacing="0" cellpadding="0" style="background-color:#fff; border:1px solid #c2c2c2; box-shadow: 0px 0px 5px #888888; width:100%; max-width:600px;">
                          <tr>
                              <td align="left" class="content" style="padding:20px 30px; padding-bottom:15px; font-size:13px; font-family:arial; line-height:20px; color:#222;">
                   
                                    {% block content %}<p>{{content|raw}}</p>{% endblock %}
                                    
                                    <p>
                                       <br />
                                       <img src="{{ app.request.getSchemeAndHttpHost() }}/images/logo-border.png" style="margin-bottom:10px; margin-top:10px;" /><br />
                                    </p>
                                    
                              </td>
                          </tr>
                      </table>        
                    </td>
                </tr>
            </table>
        
            <style>
                {#
                p,td,th,li,h1,h2,h3{
                    font-family:Arial;
                    color:#666;
                }
                
                b{
                    font-size: 30px; line-height: 38px;  
                    color: #062340;
                    font-family: Arial,sans-serif;
                    display:block;
                }
                
                p,td,th,li{
                    line-height:18px;
                    margin-bottom:20px;
                    margin-top:0;
                }
                
                h1,h2,h3{
                    font-size:24px;
                    line-height:30px;
                    margin-bottom:20px;
                }
                
                table{
                    border-collapse: collapse;
                    margin-bottom:20px;
                }

                td, th{
                    border:0px solid #ddd;
                    padding:4px 6px;
                }
                
                .content td, .content th{
                    border:1px solid #ddd;
                    padding:4px 6px;
                    text-align:left;
                }
                
                .content table{
                    width:100%;
                }
                
                
                table.products th{
                    background-color: #ddd;
                }
                
                table.products td, table.products th{
                    border:1px solid #ddd;
                }
                
                .hidden td, .hidden th{
                    border:0px solid #ddd;
                    padding:0;
                } #}
                
            </style>       
    </body>
</html>
